header {
    text-align: center;
    background: #242c31;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: #164377;
    padding: 1em 6em;
    width: 100%;
}

#jumboAccueil {
    margin: 2% 2%;
}

#jumboAccueil h3 {
    text-align: center;
}

#jumboAccueil p {
    text-align: center;
}

.boutonConnexion {
    margin: 10%, 45%, 10%, 45%;
}

.favoris {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.favorisUser {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 5%;
    padding-top: 3%;
    color: whitesmoke;
    background-color: #164377;
}

.Container {
    background-color: #edf8f8;
    margin-top: 5%;
    padding: 5%;
    margin-bottom: 5%;
}