nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: #000;
    color: #fff;
    padding: 1em 6em;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

nav li {
    list-style: none;
    padding-right: 20%;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding-right: 2em;
    text-transform: uppercase;
    font-size: 1em;
}

nav a:hover {
    color: rgb(10, 202, 216);
    letter-spacing: 2px;
}

.boutonConnexion {
    margin: 10%, 45%, 10%, 45%;
}

.favoris {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.favorisUser {
    display: flex;
    justify-content: space-between;
    align-content: center;
}